# Ignore the entire "kickstart" directory
/public/javascripts/kickstart/

# Ignore the entire "javascripts" directory
/public/javascripts/

# Ignore the entire "fancybox" directory
/public/stylesheets/img/fancybox/

# Ignore the entire "app.js" directory
app.js
