<html>
<head>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <a href="/classes/{{class._id}}/lessons">Back to lessons</a>
    <h2>{{lesson.lesson_title}}</h2>
    {{lesson.lesson_body}}

    <h2>Python Code Editor</h2>
    <py-repl output="replOutput">
        {{lesson.lesson_code}}
    </py-repl>
    <h3 style="display: none;">Output:</h3>
    <div id="replOutput" style="display: none;"></div>
</body>
</html>
